a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(4, 4, 80);
    align-items: center;
    padding: 0;
}

.logo{
    display: flex;
}
.logo img{
    height: 100px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 25px;
}
nav a:hover{
color: gray;
}
.title{
    text-align: center;
    font-size: 40px;
}

.container{
    width: 100%;
    max-width: 1200%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container .card{
    width: 300px;
    height: 530px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: blue;
}
.container .card img{
    width: 300px;
    height: 300px;
}
.container .card p{
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 600px;
    text-align: center;
    margin: 0px 0px 3%;
}
